on:
  push:
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SKIP_LUCKY_TASK_PRECOMPILATION: "1"
    steps:
      - name: Download source
        uses: actions/checkout@v2
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Install shards
        working-directory: ./src/webui/
        run: shards install
      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Lucky CLI
        working-directory: ./src/webui/
        run: |
          crystal build src/lucky.cr
          pwd >> $GITHUB_PATH
      - name: Run setup script
        working-directory: ./src/webui/
        run: ./script/setup
      - name: Build docs
        working-directory: ./src/webui/
        run: crystal docs --project-name webtrans
      - name: Deploy docs
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./src/webui/docs
